@charset "utf-8";
.waio{
	width:100%;
	height:98px;
	border-bottom: 1px solid #ccc;
}
.wait{
	width:100%;
	height:760px;
	background:#F9F9F9;
	padding-top:40px ;
}

.top{
	width:1200px;
	
	margin:0 auto;
	
}
.logo{
	display: block;
	float: left;
	width:239px;
	height:51px;
	margin:20px 0 0 20px;
	background: url(images/logo.png) no-repeat center;
}
.top p{
	float: right;
	font-size: 14px;
	color: #333;
	line-height: 98px;
}
.top p a{
	padding:0 5px;
	color:#333;
}
.main{
	width:400px;
	height:580px;
	margin: 0 auto;
}
.main-tit{
	padding-bottom:20px;
	
}
.main-tit p{
	display: inline-block;
	font-size: 18px;
	margin-top:5px;
}
.main-tit i{
	display: block;
    width:25px;height:25px;
    float: left;
	background:url(images/sprit_biyao.png) no-repeat center left;
	margin:5px 20px 0 0;
	background-position: 0 -521px;
}
.main-tit ul{
	float: right;
}
.main-tit ul li{
	float: left;
	font-size: 14px;
	color:#808080;
	margin:10px 5px 0 5px;
	cursor: pointer;
}
.main-tit .msgdl{
	color:#523669;
}
.btn ul{
	display: none;
}
.main-btn{
	padding-bottom:30px;
	position: relative;
}
.main-btn input{
	width:380px;
	height:40px;
	border:1px solid #ccc;
	font-size: 12px;
	line-height: 40px;
	padding-left:20px;
	color:#000;
}
.main-btn span{
	position: absolute;
	top:45px;left:20px;
	color:#f00;
}
/*#cell span{
	position: absolute;
	top:10px;right:-160px;
}*/
#message i{
	position: absolute;
	top:45px;left:20px;
	color:#f00;
}
#message input{
	width:220px;
	height:40px;
}
#message p{
	float: right;
	display: block;
	width:120px;
	height:42px;
	background:#724A88;
	color:#fff;
	line-height: 42px;
	font-size: 18px;
	text-align: center;
}
.con p{
	font-size: 14px;
	display: inline-block;
	line-height: 14px;
	margin-left:5px;
}
.con a{
	float: right;
	font-size: 14px;
}
.main-end #tj{
	margin-top:70px;
	width:400px;
	height:40px;
	background: orange;
	color:#fff;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
.its{
	margin-top:30px;
	width:400px;
}
.its p{
	display: block;
	float: left;
	font-size: 14px;
	padding-left: 20px;
	color: #000;
	line-height: 32px;
}
.its span {
	display:block;	
	float: left;
	
}
.its span a{
	display: block;
	float: left;
	
}
.its span a:first-child{
	border-right:1px solid #ccc;
}
.its span a img{
	display: block;
	width:100px;
	height:32px;
	margin: 0  10px;
}
.its i{
	font-size: 16px;
	color:#f00;
	margin-top:30px;
	float: left;
	padding-left:20px;
}



/*
 bottom
 * 
 * */
.bottom{
	width:1080px;
	height:471px;
	margin:0 auto;
}
.bottom-case{
	width:1080px;
	height:120px;
	
}
.bottom-case li{
	width:230px;
	height:120px;
	float: left;
	text-align: right;
	padding:0 20px;
	border-bottom: 1px solid #ccc;
}
.bottom-case li img{
	display: block;
	margin:20px 20px 0 0 ;
	float: left;
}
.bottom-case li p{
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 120px;
}
.bottom-nav{
	width:1080px;
	height:142px;
	margin-top:40px;
}
.bottom-list{
	width:828px;
	height: 142px;
	float: left;
	border-right: 1px solid #ccc;
}
.bottom-list ul {
	float: left;
	padding: 0 50px;
	margin-right: 20px;
	
}
h4{
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}
.bottom-list ul li a{
	font-size: 12px;
	color: gray;
	line-height: 30px;
}
.bottom-list ul li p{
	display: inline-block;
	width:105px;
	height:105px;
	background: url(images/app.png) no-repeat center;
	background-size: 100% 100%;
}
.bottom-con{
	float: left;
margin-left: 80px;
font-size: 16px;
}
.bottom-con a{
	color:#333;
	display: block;
	padding-top: 20px;
}
.bottom-end{
	margin-top:40px;
}
.bottom-end p{
	color: #333;
	font-size: 12px;
	text-align: center;
	margin-top:14px;
}