@charset "utf-8";
.waio{
	width:100%;
	background: #333;
}
.wait{
	width:100%;

}
.wais{
	width:100%;
	background:#f9f9f9;
	position: relative;
}
.waif{
	width:100%;
}
/*满屏延伸*/


/*正文*/
.top{
	width:1080px;
	height:30px;
	margin:0 auto;
	position: relative;
}
.top-a li{
	float: left;
	padding:0 10px;
}
.top-a li a{
	/*padding:0 10px;*/
	border-right:1px solid #ccc;
	font-size: 12px;
	line-height: 30px;
	color:#C0C0C0;
}
.top-a li a:last-child{
	border-right:none;
}
.top-a li:hover{
	color:#fff;
}
.top-b{
	float: right;
}
.top-b li{
	float: left;
	padding: 0 15px;
	color:#ccc;
	line-height: 30px;
	font-size: 12px;
}
.top-b .top-out a{
	color:#ccc;
   float: left;
  margin:0 10px;
}
.top-out p{
	float: left;
}
.top-app a{
	color:#ccc;
	float: left;
	margin-right:20px;
}
.top-app p{
	float: left;
}
.top-b li span{
	margin-left:8px;
}
.xxzx a{
	color:#ccc;
	background: url(img/msgcenter.png) no-repeat center left;
	padding-left:20px;
}
.gwc{
background:#523669 ;	
}
.gwc a{
	color:#ccc;
	background: url(img/shopCar.png) no-repeat center left;
	padding-left:20px ;	
}
.top-b li a:hover{
	color: #fff;
}
.app{
	width:130px;
	height: 221px;
	position: absolute;
	top:30px;right:200px;
	background: #fff;;
	padding: 30px 10px 10px;
	z-index: 9999;
	display: none;
}
.app p{
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	line-height: 30px;
}
.app img{
	width:130px;
	height:130px;
	margin-top:20px;
}


/*logo*/
.logo{
	width:1080px;
	height:145px;
	margin: 0 auto;

}
.logo-sy{
	width:230px;
	height:58px;
	float: left;
	margin-top:30px;
}
.logo-right{
	float: right;
}
.logo-right div{
	width:530px;
	height:40px;
	margin-top: 30px;
}
.logo-right input{
	width:474px;
	height:40px;
	float: left;
	border:1px solid #ccc;
	padding-left: 10px;
	border-right:none;
}
.logo-right span{
	display: block;
	width:38px;
	height:40px;
	border:1px solid #ccc;
	background: url(img/search.png) no-repeat center;
	float: left;
}
.logo-right ul{
	margin-top:10px;
}
.logo-right ul li{
	float: left;
	padding:0 10px ;
}
.logo-right ul li:first-child{
	padding-left:0;
}
.logo-right ul li a{
 font-size: 12px;
 color: #000;	
}
.logo-right ul li a:hover{
	color:#f7b200;
}



/*banner*/
section{
	width:1080px;
    height:360px;
    margin:0 auto;
   /*margin-top:45px*/
  padding-top: 10px;
  position: relative;  
    }
.banner-tit{
	position: absolute;
	top:-40px;
	left:135px;
	
	
}
.banner-tit span{
	float: left;
	width: 180px;
	height:40px;
	font-size:16px;
	color:#333;
	float: left;
	line-height: 40px;
	padding-left: 20px;
	background: #F9F9F9;
}
.banner-tit  span i{
	display:inline-block;
	width:15px;
	height:12px;
	background:url(img/nav-list.png) no-repeat center; 
	margin-right: 10px;
	
}
.banner-tit ul{
	float: left;
}
.banner-tit ul li{
	float: left;
	/*padding:0 10px;*/
}
.banner-tit ul li:first-child a{
	border-right:1px solid #ccc;
}
.banner-tit ul li a{
	font-size: 16px;
	color: #333;
	line-height: 40px;
  padding:0 20px	
}

.banner{
	position: relative;
}
.banner-lun{
	width:1080px;
	height: 360px;
	/*margin-top: 45px;*/
	
}
.slider-left{
	position: absolute;
	top:160px;left:220px;
	width:48px;
	height: 48px;
	z-index: 10;
	cursor: pointer;
	}
.banner-lun img{
	position: absolute;
}
.banner ul li{
	float: left;
    margin:0 10px;
	width: 14px;
	height:14px;
	background:;
	border-radius: 50%;
	border:2px solid #523669;
	cursor: pointer;
	}
.banner ul{
	position: absolute;
	bottom: 30px;
	right:312px;
	z-index:10;
}
.active{
	background:orange;
	
}
.nav{
	position: absolute;
	top:10px;left:0;
	width:200px;
	height:340px;
	padding:10px 0;
	background: #333;
	opacity: 0.7;
}
.nav ul{
	width:180px;
	height:30px;
	float: left;
	padding:10px 10px 0;
	
}
.nav ul:first-child{
	margin-top:10px;
	
}
.nav ul li{
	float: left;
    color:#fff;
}
.nav ul li a{
	
	font-size: 14px;
	padding:0 10px;
	color:#fff;
}
.nav ul li a:hover{
	color:#f7b200;
}
.nav-list{
	width:700px;
	height:345px;
	position: absolute;
	left:200px;top:10px;
	background: #fff;
	padding-top:16px;
	z-index: 15;
	display: none;
}
.nav-list-show{
	width:700px;
	height:50px;
	line-height: 50px;
	float: left;
	}
.nav-list-show span{
	float: left;
	color:#000;
	margin:0 20px;
	font-size: 14px;
	width:100px

}
.nav-list-show ul{
	float: left;
	border-bottom: 1px solid #ccc;;
}
.nav-list-show li{
	float: left;
	padding: 0 15px;
}
.nav-list-show li a{
	font-size: 12px;
	color:#ccc;
}
.nav-list-show li a:hover{
	color:#523669
}
.nav-list-show span i{
	font-size: 16px;
	margin-left:10px;
}





.article{
	margin:0 auto;
	width:1080px;
	height:56px;
	background: #fff;
	position: relative;
}
.article a{
	font-size: 16px;
	line-height: 56px;
	
}
.article a img{
	display: inline-block;
	width:100px;
	/*float: left;*/
	margin:0 48px;
	vertical-align: middle;

}
.article a span{
	display:inline-block;
    /*float: left;*/
    height:22px;
    font-size: 16px;
    line-height: 22px;
    color:#000;
    padding-left:20px;
    border-left:1px solid #ccc;
    vertical-align: middle;
}
.article i{
	float: right;
	color:#000;
	padding:0 10px;
}

/*吸顶*/
.xid{
	position: absolute;
	top:0;left:0;
	background: #fff;
	z-index: 110;
	width:1060px;
	height:56px;
	padding-left: 20px;
	display: none;
	margin: 0 auto;
	}
.xid p span{
	float: left;
	display: block;
	font-size: 16px;
	color:#333;
	margin-top: 18px;
}
.xid .logos-right{
	float: right;
	
}
.logos-right div{
	width:530px;
	height:40px;
	margin-top: 10px;
}
.logos-right input{
	width:474px;
	height:40px;
	float: left;
	border:1px solid #ccc;
	padding-left: 10px;
	border-right:none;
}
.logos-right span{
	display: block;
	width:38px;
	height:40px;
	border:1px solid #ccc;
	background: url(img/search.png) no-repeat center;
	float: left;
} 
.logos-right ul{
	position: absolute;
	top:42px;right:46px;
	margin-top:10px;
	background: #fff;
	display: none;
}
.logos-right ul li{
	width:474px;
	height:40px;
	padding-left:10px ;
}
.logos-right ul li a{
 font-size: 12px;
 color: #000;	
 line-height: 40px;
}
.logos-right ul li a:hover{
	color:#f7b200;
}
.xid-c{
	background: #C0C0C0;
}
.topxd{position:fixed;top:0;left:0;right:0;}





.con{
	margin:0 auto;
	width:1080px;
	height:250px;
}
.con img{
	width:350px;
	height:220px;
	display:block;
	float: left;
	padding-top:30px;
	margin-right:10px;
}
.com img:last-child{
	margin-right:0;
}


/*
精选
 * */
.sift{
	width:1080px;
	height:362px;
	margin:0 auto;

}
h2{
	width:1060px;
	height:80px;
	line-height: 80px;
	font-size: 26px;
	color: #000;
	padding-left:20px;
}

.sift-show {
	width:1080px;
	height:280px;
	background: #fff;
	overflow: hidden;
}
.sift-show li:first-child{
	margin-left: 0;
	width:620px;
	height:280px;
}
.sift-show li{
	width:82px;
	height: 280px;
	margin-left: 10px;
	float: left;
	overflow: hidden;
} 




/*list
 */

.list{
	width:1080px;
	height:343px;
	margin:40px auto 0;
	}
.list-tit{
	position: relative;
	margin-bottom: 20px;
}
.list-tit h3{
	font-size: 24px;
	line-height: 24px;
	color:#333;
}
.list-tit a{
	position: absolute;
	bottom: 0;right: 0;
	font-size: 16px;
	color:#333;
}
.list ul{
	width:1095px;
	height:299px;
}
.list li{
	float: left;
	margin: 0 10px 10px 0;
}
.list-a img{
	
}
.list-a a{
	width:423px !important;
}
 .list-a i{
	width:423px !important;
}
.list-a img{
	width:423px !important;
}
.list ul li a{
	display: block;
	width:204px;
	height:280px;
	text-align: center;
	background: #fff;
}
.list ul a i{
	overflow: hidden;
	display: inline-block;
	height:204px;
	height:204px;
	background: pink;
}
.list ul li i img{
	height:204px;
	width:204px;
}
/*.list ul li div{
	float: left;
}*/
.list ul li div{
	color:#333;
	font-size: 18px;
	margin-top:22px;
}
.list ul li span{
	color:#f33;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}
.list-nav{
	width:1080px;
	height:627px;
	margin:40px auto 0;
	}
.list-nav ul{
	width:1095px;
	height:299px;
}
.list-nav li{
	float: left;
	margin: 0 10px 10px 0;
}
.list-nav ul li a{
	display: block;
	width:204px;
	height:280px;
	text-align: center;
	background: #fff;
}
.list-nav ul a i{
	overflow: hidden;
	display: inline-block;
	width:204px;
	height:204px;
	
	
}
.list-nav ul li i img{
	
	display: block;
	height:204px;
	width:204px;
	margin: 0 auto;
}
/*.list ul li div{
	float: left;
}*/
.list-nav ul li div{
	color:#333;
	font-size: 18px;
	margin-top:22px;
}
.list-nav ul li span{
	color:#f33;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}



/*
 bottom
 * 
 * */
.bottom{
	width:1080px;
	height:471px;
	margin:0 auto;
}
.bottom-case{
	width:1080px;
	height:120px;
	
}
.bottom-case li{
	width:230px;
	height:120px;
	float: left;
	text-align: right;
	padding:0 20px;
	border-bottom: 1px solid #ccc;
}
.bottom-case li img{
	display: block;
	margin:20px 20px 0 0 ;
	float: left;
}
.bottom-case li p{
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 120px;
}
.bottom-nav{
	width:1080px;
	height:142px;
	margin-top:40px;
}
.bottom-list{
	width:828px;
	height: 142px;
	float: left;
	border-right: 1px solid #ccc;
}
.bottom-list ul {
	float: left;
	padding: 0 50px;
	margin-right: 20px;
	
}
h4{
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}
.bottom-list ul li a{
	font-size: 12px;
	color: gray;
	line-height: 30px;
}
.bottom-list ul li p{
	display: inline-block;
	width:105px;
	height:105px;
	background: url(img/app.png) no-repeat center;
	background-size: 100% 100%;
}
.bottom-con{
	float: left;
margin-left: 80px;
font-size: 16px;
}
.bottom-con a{
	color:#333;
	display: block;
	padding-top: 20px;
}
.bottom-end{
	margin-top:40px;
}
.bottom-end p{
	color: #333;
	font-size: 12px;
	text-align: center;
	margin-top:14px;
}
.dw{
	width:48px;
	height:96px;
	position: fixed;
	bottom:120px;
	right:90px;
}
.dw-show{
	position: relative;
}
.dw-btn {
	width:48px;
	height:48px;
    /*position: absolute;
    bottom:0;*/
}
.dw-con{
	display: block;
	width:48px;
	height:48px;
	/*position: absolute;
	top: 0;*/
}
.dw-btn img{
    
	display:block;
	width:48px;
	height:48px;
}
.dw-con{
	display:block;
	width:48px;
	height:48px;
	
}
/*.dw-con:hover{
	background:purple;
	color:#fff;
}*/
.dw-show ul{
	width:300px;
	height:180px;
	background: #fff;
	position: absolute;
	right: 40px;top:-64px;
	display: none;
}
.dw-show ul li{
	float: left;
	width:150px;
	height:180px;
	padding: 5px 0 0 0;
}
.dw-show ul li a{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #333;
	margin-top: 5px;
}	
.dw-show ul li a:hover{
	color:mediumpurple;
}
.dw-show ul li img{
	display: block;
	width:143px;
	height:143px;
}

